<div class="container">
  <div class="row mt-5">
    <div class="col-md-10">
      <h2>Noticias</h2>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-success w-100" type="button" (click) = "new()"><i class="fa fa-plus"></i> Nueva noticia</button>
    </div>
  </div>
  <table class="table table-hover table-bordered table-responsive text">
    <thead class="table-dark">
      <tr>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of this.news">
        <td>{{client.title}}</td>
        <td>{{client.description}}</td>
        <td>
          <img src="{{client.src}}" alt="Image not found" width="100" height="100">
        </td>
        <td>
          <button class="btn btn-outline-info me-2" type="button" (click)= "edit(client.id)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-outline-danger" type="button"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-info text-center" role="alert" *ngIf="news.length == 0">
    <p>
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </p>
    <h2 class="text-center"> Esperando información </h2>
  </div>
</div>
