
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
      <!--<img src="../../../assets/GOL.jpg" class="d-block w-100" alt="...">-->
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Bienvenido al Portal STV</h1>
          <p></p>
          <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

      <div class="container">
        <div class="carousel-caption">
          <h1>Mantente al día con los pagos de la red</h1>
          <p>. Revisa el estado de tu cuenta.</p>
          <p><a class="btn btn-lg btn-primary" [routerLink]="['/home']" role="button">Ir a lista de usuarios</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>


<div class="container marketing">

  <!-- Usuarios -->
  <div class="row justify-content-center">
    <div *ngIf="!isAuth()" class="col-lg-4">
      <img src="../../../assets/coin.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
      <h2>Cotización</h2>
      <p>Revisa el estado de tu cuenta JC y de los pagos de la red.</p>
      <p><a class="btn btn-outline-warning" [routerLink]="['/user_list']" role="button">Ir a estado de cuenta &raquo;</a></p>
    </div>
    <div *ngIf="!isAuth()" class="col-lg-4">
      <img src="../../../assets/ts3.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
      <h2>Sevidor TeamSpeak3</h2>
      <p>Si estas aburrido o no tienes nadie con quien hablar, únete a nuestro servidor de TeamSpeak 3, ideal para conversar con tus amigos.</p>
      <p><a class="btn btn-outline-primary" href="ts3server://10.24.122.5" role="button">Abrir TS3 &raquo;</a></p>
    </div>
    <div *ngIf="!isAuth()" class="col-lg-4">
      <img src="../../../assets/ftp.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
      <h2>Servidor FTP</h2>
      <p>Accede al servidor de archivos local, disponible de 5:00AM a 12:00PM</p>
      <p><a class="btn btn-outline-info" href="http://10.24.122.6:630" target="_blank" role="button">Abrir FTP &raquo;</a></p>
    </div>
    <!-- Admins -->
    <div *ngIf="isAuth()" class="col-lg-4">
      <img src="../../../assets/coin.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
      <h2>Actualizar pagos</h2>
      <p>Vino alguien a pagarte? Llegaste de la calle y te dejaron dinero de la red? No lo dejes para después que sabes que se te olvida, actualiza los pagos en la flamante página que te hizo Eric! :)</p>
      <p><a class="btn btn-outline-warning" [routerLink]="['/payments']" role="button">Ir a Pagos &raquo;</a></p>
    </div>
    <div *ngIf="isAuth()" class="col-lg-4">
      <img src="../../../assets/users.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
      <h2>Editar usuarios</h2>
      <p>Inserta nuevos usuarios, modifica sus datos, y elimina los que ya no estén</p>
      <p><a class="btn btn-outline-secondary" [routerLink]="['/users']" role="button">Ir a Editar usuarios &raquo;</a></p>
    </div>
    <div *ngIf="isAuth()" class="col-lg-4">
      <img src="../../../assets/news.png" class="bd-placeholder-img rounded-circle" alt="140x140" width="140" height="140">
      <h2>Gestionar noticias</h2>
      <p>Pasó algo interesante, se cayó un equipo, perdió el Barça? Añadelo para que todos lo vea ( Que pierda el Barça no es noticia, es costumbre pero weno :) ) </p>
      <p><a class="btn btn-outline-secondary" [routerLink]="['/news']" role="button">Ir a Gestionar noticias &raquo;</a></p>
    </div>
  </div>


  <!-- START THE FEATURETTES -->

  <app-new *ngFor="let item of news; let i=index"
  [imageFirst]="even(i)"
  [url]="imagePath(item)"
  [title]="item.title"
  [description]="item.description"></app-new>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
